@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

.home-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grid-container {
  max-width: 980px;
  margin: auto;
}

header {
  width: 100%;
  height: 140px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: -ms-grid;
  display: grid;
  background-color: #47cfac;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

header .header-icons-container .icons span {
  color: white;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .nav-logo-container {
  margin-left: 50px;
}

nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}

nav .profile-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
}

nav .profile-link a {
  color: black;
  border-bottom: 1px solid black;
}

.home-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
  background-image: url("/assets/img/Cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-main section {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  grid-column: 2;
  justify-items: center;
  height: 350px;
  margin-top: 80px;
}

.home-main .home-main-text {
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 10px;
  color: black;
  text-align: center;
  color: white;
}

.home-main .home-main-button {
  width: 110px;
  height: 50px;
  background: #48cfad;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
}

.home-main .home-main-button a {
  font-weight: 700;
  font-size: 18px;
}

.blogs-main {
  display: -ms-grid;
  display: grid;
}

.blogs-main .blogs-news-container {
  background-color: #e6e9ed;
  padding: 0 50px 40px;
}

.blogs-main .blogs-news-container .blogs-main-new {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 2fr;
      grid-template-rows: 2fr;
}

.blogs-main .blogs-news-container .blogs-main-new .blogs-news-img-container {
  -ms-grid-column: 1;
  grid-column: 1;
}

.blogs-main .blogs-news-container .blogs-main-new .blogs-news-img-container img {
  width: 85%;
}

.blogs-main .blogs-news-container .blogs-main-new .blogs-buttom {
  border: 1px solid #47cfac;
  padding: 10px 15px;
  font-size: 12px;
}

.blogs-main .blogs-news-container .blogs-news-info-container {
  -ms-grid-column: 2;
  grid-column: 2;
}

.blogs-main .blogs-news-container .blogs-news-info-container p {
  margin-bottom: 35px;
}

.blogs-main .blogs-posts-container {
  padding: 0 50px 40px;
}

.blogs-main .blogs-posts-container h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  text-align: center;
}

.blogs-main .blogs-posts-container .blogs-buttom {
  border: 1px solid #47cfac;
  padding: 10px 15px;
  font-size: 12px;
}

.blogs-main .blogs-posts-container .post-container {
  display: inline-block;
  padding-left: 10px;
  max-width: 30%;
  margin-bottom: 50px;
}

.blogs-main .blogs-posts-container .post-container p {
  margin-bottom: 35px;
}

.blogs-main .blogs-posts-container .post-container img {
  width: 100%;
  height: 250px;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #22272d;
  border-top: 35px solid #47cfac;
  text-align: center;
}

footer p {
  color: white;
  margin-top: 30px;
}
/*# sourceMappingURL=main.css.map */